*, *::before,*::after {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Helvetica;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

body {
    overflow-x: hidden;
    max-width: 100vw;
}

.fixed_navbar_wrapper ul .music_portal_link {
    display: none;
}

.fixed_navbar_wrapper ul .merch_store_link {
    display: none;
}

.active_page_section_button {
    background-color: white;
    color: black;
}

.siteimg {
    max-width: 20rem;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    margin: auto;
}

.fixed_navbar_wrapper {
    position: fixed;
    top: 0;
    display: none;
    width: 100vw;
    overflow: hidden;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 101;
}

.fixed_navbar_wrapper ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    height: 100%;
}

.fixed_navbar_wrapper ul li {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.fixed_navbar_wrapper ul li:hover {
    cursor: pointer;
}

.fixed_navbar_wrapper ul li:hover a {
    color: #4b0e85;
}

.fixed_navbar_wrapper ul li a {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.band_member_nav {
    display: none;
    position: fixed;
    top: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.band_member_nav ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.band_member_nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.band_member_nav ul li a {
    background-color: rgba(83, 0, 47, 0.5);
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(.3rem, 2vw + .4rem, 1rem);
}

.landing_section_wrapper {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0,0,0);
    color: white;
    overflow: hidden;
}

.landing_section_wrapper .top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding-top: 2rem;
}

.landing_section_wrapper .top .top_inner_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.landing_section_wrapper .top .top_inner_wrapper img {
    max-width: 60%;
    object-fit: contain;
}

.landing_section_wrapper .bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* debug */
    /* border-top: 2px dotted greenyellow;  */
}

.landing_section_wrapper .bottom .bottom_inner_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing_section_wrapper .bottom .bottom_inner_wrapper nav {
    width: 100%;
    display: flex;
    height: 10%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.landing_section_wrapper .bottom .bottom_inner_wrapper nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}

.landing_section_wrapper .bottom .bottom_inner_wrapper nav ul li {
    max-width: fit-content;
}

.landing_section_wrapper .bottom .bottom_inner_wrapper nav ul li a {
    color: whitesmoke;
    font-size: xx-large;
}

.landing_section_wrapper .bottom .bottom_inner_wrapper nav ul li .rightbutton:hover {
    animation: fade_button_right .5s;
    color: #e6aaf7;
}

.landing_section_wrapper .bottom .bottom_inner_wrapper nav ul li .leftbutton:hover {
    animation: fade_button_left .5s;
    color: #b6f5f0;
}

.landing_section_wrapper .bottom .bottom_inner_wrapper nav .mobile_socmed {
    display: none;
}

/* HOME PAGE */
.home_wrapper {
    min-height: 100vh;
    height: fit-content;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    color: white;
}

.home_wrapper .main_content_wrapper {
    width: 90%;
    height: 90%;
    bottom: 0;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_wrapper .main_content_wrapper .announcements_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.home_wrapper .main_content_wrapper .announcements_wrapper .slider_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_wrapper .main_content_wrapper .announcements_wrapper .slider_wrapper .carousel {
    max-width: 56.5625rem;
    max-height: 31.8125rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.home_wrapper .main_content_wrapper .announcements_wrapper .slider_wrapper .carousel .carousel_image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.carousel_image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    margin: auto;
}

.home_wrapper .main_content_wrapper .announcements_wrapper .slider_wrapper .carousel_indicator_wrapper {
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home_wrapper .main_content_wrapper .announcements_wrapper .carousel_indicator_wrapper .carousel_indicator {
    width: .5rem;
    height: .5rem;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.home_wrapper .main_content_wrapper .article_section_wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 5rem;
    width: 100%;
}

.home_wrapper .main_content_wrapper .article_section_wrapper article {
    max-width: 20rem;
    border-radius: 2rem;
    padding: 2rem;
    height: fit-content;
}

/* ABOUT PAGE */
.about_wrapper {
    min-height: 100vh;
    height: fit-content;
    display: flex;
    justify-content: top;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;
    gap: 2rem;
    padding-bottom: 3rem;
}

.about_wrapper p {
    font-size: 1.2rem;
    max-width: 40%;
}

.about_wrapper h2 
{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.lefttoright {
    max-width: 80%;
    
}

.about_wrapper .band_wrapper .article .band_photo_wrapper img {
    object-fit: contain;
    max-width: 90%;
}

.about_wrapper .article .about_them_cbd_text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    max-width: 56.5625rem;
    height: fit-content;
}

.about_wrapper .member_wrapper {
    display: flex;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
    gap: 10rem;
    justify-content: space-evenly;
    min-height: 100vh;
}

.about_wrapper .member_wrapper .portrait_photo_wrapper {
    width: 50%;
}
.about_wrapper .member_wrapper .portrait_photo_wrapper img {
    object-fit: contain;
    max-width: 100%;
}

/*THIS IS .about_wrapper .member_wrapper .text_wrapper*/
.text_wrapper {
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

.text_wrapper .bio_wrapper {
    display: flex;

}

/* leaderboard PAGE */
.leaderboard_wrapper {
    display: flex;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.9);
    color: white;
    justify-content: center;
}

.leaderboard_wrapper .leaderboard_table_wrapper {
    width: 80%;
    margin-top: 3rem;
}

.leaderboard_wrapper .leaderboard_table_wrapper table{
    border-top: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
}

.leaderboard_wrapper .leaderboard_table_wrapper table th {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.leaderboard_wrapper .leaderboard_table_wrapper table tr {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid white;
}

.leaderboard_wrapper .leaderboard_table_wrapper table tr td{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* changelog PAGE */
.changelog_wrapper {
    display: flex;
    min-height: 100vh;
    background-color: lightgrey;
}

.changelog_wrapper ul
{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 2rem;
    font-size: 1.2rem;
}

/* download PAGE */
.download_wrapper {
    min-height: 100vh;
    height: fit-content;
    padding-top: 4rem;
    padding-bottom: 2rem;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

.download_wrapper .linux_download_info,
.download_wrapper .windows_download_info
{
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.download_wrapper h1
{
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
}

.download_wrapper .download_link_wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    align-items: center;
}
.download_wrapper .download_link_wrapper a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.download_wrapper .download_link_wrapper a img
{
    max-width: 50%;
    object-fit: contain;
    display: block;
    margin: auto;
}
.download_wrapper .download_link_wrapper a:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: transform .3s;
    transform-origin: center center;
}

/* FOOTER */
footer {
    height: 10vh;
    background-color: gray;
    display: flex;
    justify-content: space-evenly;
}

footer .footer_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .footer_section p {
    color: white;
    text-align: left;
}

/* ANIMATIONS */

@keyframes fade_button_right {
    0% {
        color: #ffffff;
    }
    100% {
        color: #e6aaf7;
    }
}

@keyframes fade_button_left {
    0% {
        color: #ffffff;
    }
    100% {
        color: #b6f5f0;
    }
}


@keyframes spin_record {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(500000deg);
    }
}

@keyframes carousel_fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0.8;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}


/*Below is the mobile version of the site*/

@media(max-width:930px) {

    * {
        padding: 0;
        margin: 0;
    }

    body {
        overflow-x: hidden;
        min-width: 100vw;
    }

    .landing_section_wrapper .bottom .bottom_inner_wrapper nav {
        gap: 2rem;
        align-items: center;
    }
    .landing_section_wrapper .bottom .bottom_inner_wrapper nav .mobile_socmed {
        display: flex;
        flex-direction: column;
    }
    
    .landing_section_wrapper .bottom .bottom_inner_wrapper nav .mobile_socmed .mobile_socmed_section {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .landing_section_wrapper 
    {
        top: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    .landing_section_wrapper .top
    {
        min-height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .landing_section_wrapper .top img {
        max-width: 90vw;
    }

    .landing_section_wrapper .bottom {
        height: 110vh;
    }

    .landing_section_wrapper .bottom .bottom_inner_wrapper .navbar ul{
        flex-direction: column;
        gap: 2rem;
    }
    .about_wrapper .band_wrapper .article .band_photo_wrapper {
        width: 95vw;
    }
    
}

@media (max-width: 640px) {

    .about_wrapper p 
    {
        font-size: 1rem;
        max-width: 90%;
    }

    .about_wrapper ul 
    {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
  
    .download_wrapper .download_link_wrapper {
      flex-direction: column;
      gap: 1rem !important;
    }
  

    img, .carousel_image, .siteimg {
      max-width: 100vw !important;
      width: 100% !important;
      height: auto !important;
      object-fit: contain;
    }
  
    html, body {
        overflow-x: hidden !important;
        max-width: 100vw !important;
        margin: 0;
        padding: 0;
    }  
    .home_wrapper .main_content_wrapper .announcements_wrapper .slider_wrapper .blurb_container{
        max-width: 60% !important;
        max-height: auto !important;
    }
    .home_wrapper .main_content_wrapper .article_section_wrapper {
        flex-direction: column;
        padding: 1rem !important;
        gap: 2rem !important;
    }
}
  